@import url(https://fonts.googleapis.com/css?family=Orbitron);
body {
font-family: 'Orbitron', sans-serif;

background-image: url("bg.jpg");

  }

    .sub-menu-parent { 

      position: relative; }
  
    .sub-menu { 
      visibility: hidden; /* hides sub-menu */
      opacity: 0;
      position: absolute;

      top: 100%;
      left: 0;
      width: 100%;
      transform: translateZ(0);
      transform: translateY(10%);
      transition: all 0.5s ease 0s, visibility 0s linear 0.5s; /* the last value is the transition-delay for visibility */
    }

    .sub-menu-parent:hover .sub-menu {
      visibility: visible; /* shows sub-menu */
      opacity: 1;
      transform: translateX(0%);
      transition-delay: 0s; /* this removes the transition delay so the menu will be visible while the other styles transition */
    }

/* presentational */
body { 
  padding: 2%; 
}
a {
  font-size: 20px;
}
nav a { 
  color: #052d4f; 
  display: block; 
  padding: 5px 10px; 
  text-decoration: none; 
}
nav a:hover {
 color: #F55; 
}
nav ul,
nav ul li { 
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

nav > ul { background: rgba(59,138,121, .5); text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
nav > ul > li:first-child { border-left: none; }

#gameIcon {
   padding-left: 90px;
   width: 77px;
   height: 72px;
}

#name {
  text-align: center;
  font-size: 52px;
  padding-right: 100px;
  padding-top: 20px;
}

.sub-menu {
  background: #DDD;
}

.icon {
  height: 38px;
  width: 38px;
  margin: 5px;
  
 

}


#contact{
  width: 40px;
  height: 150px;
  background: none;
  position: absolute;
  left: 20px;
  bottom: 15px;
}