@font-face {
    font-family: "main-font";
    src: url(../images/fonts/blrrpix.ttf) format("truetype");
}

* {
	font-family: "main-font";
  color: white;
}

a {
	text-decoration: none;

}

body {
	background-color: white;
  /* background-color: #009688; */
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  margin: 0;

}

h1 {
  margin: 0;
}

img {
  margin: 0;
}

nav {
	display: inline;
	background-color: #009688;
}

header {

	color: white;
	height: 70%;
	width: 100%;
	margin: 0;
	background-image: url("../images/dnbgposterized.png");
	background-size: cover;

	border-bottom: 5px solid #212121;
}

#name {
  display: flex;
  justify-content: flex-start;
	color: #ffab00;
	padding-left: 25px;
	font-size: 120px;
	text-shadow: 1px 1px 1px rgba(33, 33, 33, 0.9);
	/*margin-bottom: 0px;
	margin-top: 0px;*/
  margin-right: 0;
	width: 50%;
}

#title {
  display: flex;
  justify-content: flex-start;

  align-items: baseline;

  font-size: 60px;
  color: #009688;
  padding: 25px;
  /*width: 50%;*/
  /* padding-left: 25px; */
  /*margin-top: 180px;*/
  /* bottom: 0; */

  /* float: left;
  text-align: left;
  clear: both; */
}

#contact {
  background-color: #009688;


	width: 100%;
	text-align: center;
	margin: auto;
	float: left;
	padding-bottom: 40px;
}

#contact h4 {
	color: #ffab00;

}

#contact div {
	margin-bottom: 30px;

}

.contact-page-link {
	text-decoration: none;
	color: white;
	font-size: 24px;
}

.contact-page-link:hover {
	color: #212121;
}



#menu {
	/* float: right; */
	display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;

  align-items: baseline;
	/*width: 50%;*/
	clear: both;
	/*-webkit-padding-start: 0px;*/
	/*padding: 10px;*/

	/*margin-top: -50px;*/
/*	margin-bottom: 10px;
*/}

.icon {
	height: 100px;
	width: 100px;
	/*padding: 50px;*/
	padding-top: 15px;
}

.icon2 {
	height: 115px;
	width: 115px;
	/*padding-bottom: 45px;*/

}

.header-contact {
  display: flex;
  justify-content: Center;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  padding-left: 30px;
	/* float: right; */
	/* margin-top: -130px;
	text-align: right; */

}

.header-contact a {
	text-decoration: none;
	color: white;
}

.header-contact a:hover {
	color: #009688;

}

.header-contact li {
	font-size: 24px;
	/*position: fixed;*/
	padding-right: 10px;

}

.menu-item {
	float: right;
	/*display: inline;*/
	font-size: 40px;
	padding: 15px;
	color: white;
	text-decoration: none;
	list-style: none;
	/*margin-top: 20px;*/
	text-align: right;
}



.menu-item:hover {
	color: #009688;
}


.text {
	color: white;
	font-size: 30px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 40px;
}

.current-page {
  color: #009688;

}
.lang-icons {
	/*display: inline;*/

}

.lang-icons svg {
	float: left;
	padding: 15px;
	margin: 10px;
}

.section-title {
  background-image: url("../images/section.png");
  /* width: 100%; */
  padding-left: 15px;
  color: #ffab00;
}

#about {
  /* background-color: #ffab00; */
  height: 20%;

}

#portfolio {
  background-color: #212121;
}

footer {
	/*font-family: "PressStart2P";*/
	height: 40px;
	background-color: #212121;
	color: #ffab00;
	text-align: right;
	/*line-height: 10px;*/
	/*margin-top: 25px;*/
	/*padding-bottom: 15px;*/
	/*padding: 10px;*/
	/*padding-top: 20px;*/
	clear: both;
	bottom: 0;
	width: 100%;
	position: fixed;

}
footer h6 {
	margin-top: -10px;
	font-size: 24px;
	padding: 10px;
}
.contact-link {
	color: white;
	float: left;
	clear: both;
	margin-top: 5px;
	/*margin-left: -55px;*/
	font-size: 18px;
	text-decoration: none;
	/*padding-bottom: 10px;*/
	/*width: 40%;*/
}
.contact-link:hover {
	color: #009688;

}
#gallery {
	padding: 0px;
}

#gallery div {
	display: block;
	float: left;
}

.project {
	margin-bottom: 15px;
}

.screenshot {
	background-repeat: no-repeat;
	border: 5px solid #212121;
	border-radius: 2%;
	background-size: cover;
	display: block;
	margin: 0;
	height: 270px;
	width: 400px;
	float: left;
}

.description {
	height: 300px;
	width: 450px;
	/*padding-top: 15px;*/
	margin: 0;
	padding-bottom: 60px;
}

.gh {
	height: 24px;
	width: 24px;
}



.description a, h4 {
	color: #009688;
}

.description p, h1 {
	color: #ffab00;

}

.description span {
	color: #212121;
}

.description a:hover {
	color: #212121;

}

.built {
	color: #ffab00;
}


.form {
	width: 50%;
 	margin: 0 auto;
	padding:20px;
}

.formlink {
	float: right;
	font-size: 32px;
}

li {
	font-size: 32px;
}

.img4 {
	background-image: url("../images/gallery/photo.png");
}
.img3 {
	background-image: url("../images/gallery/robocop.png");
}

.img2 {
	background-image: url("../images/gallery/brainpain.png");
}

.img1 {
	background-image: url("../images/gallery/ecomm.png");
}


@media all and (max-width: 1040px){

	#gallery div {
		float: none;
		/* margin: 10px auto; */
	}
}

@media all and (max-width: 700px){
	#name {
		font-size: 68px;
		width: 40%
	}

	#title {
		font-size: 32px;
		/*margin-bottom: 40px;*/
	}

	#menu {
		margin-right: 10px;
		margin-top: -75px;
	}

}


@media all and (max-width: 570px){
	header {
		margin-top: -30px;
		margin-bottom: 60px;
		height: 300px;

	}

	#name {
		font-size: 48px;
		margin: 10px;
		margin-top: 20px;
		padding: 10px;
	}

	.title {
		font-size: 32px;
		/*margin-top: -200px;*/
	}

	#menu {
		margin-right: 10px;
		margin-top: 0px;
	}

	#menu li {
		font-size: 24px;
		/*margin-top: 90px;*/

	}

	.header-contact li {
		font-size: 18px;
	}

	.screenshot {
		height: 150px;
		width: 300px;
		margin: 5px auto;
	}

	.description {
		width: 100%;
	}

  	/*.img1 {
  		background-image: url("../images/gallery/image-1-small.jpg");
  	}

  	.img2 {
  		background-image: url("../images/gallery/image-2-small.jpg");
  	}

  	.img3 {
  		background-image: url("../images/gallery/image-3-small.jpg");
  	}*/

}





.not-found {
	margin: auto;
}

.not-found-gif {
	height: 500px;
	width: 500px;
}
